body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    cursor: url('favicon.ico'), auto;
    transition: background-color 1.5s ease, background 1.5s ease;

}

center {
    display: flex;
    justify-content: center;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: white;
    padding: 10px;
    text-align: center; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

video {
    width: calc(75%);
}

iframe {
    width: calc(75%);
    height: calc(75%);
}

main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

video {
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 50px !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

iframe {
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 50px !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.title-overlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: calc(15%); /* Adjust width for four banners per row */
    height: 0;
    padding-bottom: calc(15%); /* Set height to create a square */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

/* The switch - the box around the slider */
.switch {
    margin-top: 30px;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  @media (max-width: 768px) {
        /* Hide the switch on devices with a screen width of 768 pixels or less */
        .switch {
            display: none;
        }
    }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }


.movie-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.movie-banner {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: calc(15%); /* Adjust width for four banners per row */
    height: 0;
    padding-bottom: calc(15%); /* Set height to create a square */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.movie-banner:hover {
    transform: scale(1.05);
}

.movie-banner:hover .title-overlay {
    opacity: 1;
}

.movie-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background: transparent;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}
